/* poppins-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --brand_color_light: #819b57;
  --brand_color_dark: #465929;
  --primary_dark_color: #31261a;
  --primary_light_color: #faf4ea;
}

ul {
  list-style-type: none;
}

body {
  color: var(--primary_dark_color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.button_call {
  color: var(--primary_light_color);
  background-color: var(--brand_color_light);
  border: 2px solid var(--brand_color_light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button_call:hover {
  color: var(--brand_color_dark);
  background-color: transparent;
}

.button_call:focus {
  background-color: green;
}

.link {
  color: var(--primary_light_color);
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  color: var(--brand_color_light);
}

.link_footer {
  color: var(--primary_light_color);
  text-decoration: none;
  font-weight: 400;
}

.link_footer:hover {
  color: var(--brand_color_light);
}

.hero_title {
  color: var(--primary_light_color);
  text-align: center;
  text-transform: uppercase;
  font-size: 128px;
  font-weight: 900;
}

.accent {
  color: var(--brand_color_light);
}

.advantages_list {
  background-color: var(--brand_color_light);
  color: var(--primary_light_color);
}

.section_title {
  color: var(--primary_dark_color);
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.chef_title {
  font-weight: 600;
  font-size: 40px;
}

.format_title {
  font-weight: 600;
  font-size: 24px;
  color: var(--primary_light_color);
}

.format_text {
  font-weight: 300;
  font-size: 14px;
  color: var(--primary_light_color);
}

.traditions-text span {
  color: var(--brand_color_light);
  font-weight: 600;
}

.traditions-text .accent_upper {
  text-transform: uppercase;
  font-weight: 600;
}

.advantages_item {
  font-weight: 300;
  font-size: 20px;
  color: var(--primary_light_color);
}

.address_link {
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  font-style: normal;
  color: var(--primary_light_color);
}

.address_link:hover {
  font-weight: 300;
  font-size: 16px;
  color: var(--brand_color_light);
}

.copyright {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  font-style: normal;
  color: #a18268;
}
